---
author: Martin Kacej
created_at: 2018-04-02 20:45:57 UTC
date: "2018-04-02T00:00:00Z"
title: Proposed design for mobile network settings
---

## Design

While thinking of design, i looked on biggest &#8220;competitors&#8221; on mobile OS market &#8211; Android and iOS. Mainly i am taking design ideas from Android, since i am thinking it has good proportion between usability and functionality, while i am studying/following KDE Human Interface Guidelines, <a href="https://community.kde.org/KDE_Visual_Design_Group/HIG" rel="nofollow">https://community.kde.org/KDE_Visual_Design_Group/HIG</a> and as recommended i am using Kirigami 2 framework, which implement most of HIG rules by itself.

<p><span id="more-13"></span></p>
<p>These are quick mock-ups:</p>
<p>Main list view with available connections and password dialog:</p>
<p><img data-attachment-id="20" data-permalink="https://mkacej.wordpress.com/2018/04/02/proposed-design/basic-password/" data-orig-file="https://mkacej.files.wordpress.com/2018/04/basic-password.png" data-orig-size="369,742" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="basic-password" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/04/basic-password.png?w=149" data-large-file="https://mkacej.files.wordpress.com/2018/04/basic-password.png?w=369" class="alignnone size-full wp-image-20 aligncenter" src="https://mkacej.files.wordpress.com/2018/04/basic-password.png?w=840" alt="basic-password" srcset="https://mkacej.files.wordpress.com/2018/04/basic-password.png 369w, https://mkacej.files.wordpress.com/2018/04/basic-password.png?w=75 75w, https://mkacej.files.wordpress.com/2018/04/basic-password.png?w=149 149w" sizes="(max-width: 369px) 85vw, 369px"   /></p>
<p>Expanded actions for some network:</p>
<p><img data-attachment-id="19" data-permalink="https://mkacej.wordpress.com/2018/04/02/proposed-design/basic-expanded/" data-orig-file="https://mkacej.files.wordpress.com/2018/04/basic-expanded.png" data-orig-size="356,725" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="basic-expanded" data-image-description="&lt;p&gt;Main view with available connections &lt;/p&gt;
" data-medium-file="https://mkacej.files.wordpress.com/2018/04/basic-expanded.png?w=147" data-large-file="https://mkacej.files.wordpress.com/2018/04/basic-expanded.png?w=356" class="alignnone size-full wp-image-19 aligncenter" src="https://mkacej.files.wordpress.com/2018/04/basic-expanded.png?w=840" alt="basic-expanded" srcset="https://mkacej.files.wordpress.com/2018/04/basic-expanded.png 356w, https://mkacej.files.wordpress.com/2018/04/basic-expanded.png?w=74 74w, https://mkacej.files.wordpress.com/2018/04/basic-expanded.png?w=147 147w" sizes="(max-width: 356px) 85vw, 356px"   /></p>
<p>Using Kirigami.SwipeListItem, contextual actions of specific network like connect, disconnect, show details and delete will be hidden &#8220;behind&#8221;.</p>
<p>Contextual actions of network manager &#8211; custom connection, hotspot, list connection history where you can change network settings</p>
<p><img data-attachment-id="18" data-permalink="https://mkacej.wordpress.com/2018/04/02/proposed-design/basic-context/" data-orig-file="https://mkacej.files.wordpress.com/2018/04/basic-context.png" data-orig-size="375,732" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="basic-context" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/04/basic-context.png?w=154" data-large-file="https://mkacej.files.wordpress.com/2018/04/basic-context.png?w=375" class="alignnone size-full wp-image-18 aligncenter" src="https://mkacej.files.wordpress.com/2018/04/basic-context.png?w=840" alt="basic-context" srcset="https://mkacej.files.wordpress.com/2018/04/basic-context.png 375w, https://mkacej.files.wordpress.com/2018/04/basic-context.png?w=77 77w, https://mkacej.files.wordpress.com/2018/04/basic-context.png?w=154 154w" sizes="(max-width: 375px) 85vw, 375px"   /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>Functionality</h4>
<p>Difference between desktop and smartphone approach is mainly that phone is mean as lightweight version of OS, with design simplified for easier and quicker use. That also means stripping some (or lets a lot) of functionality, which is present in desktop and targeted for advanced users.</p>
<p>&nbsp;</p>
<p>Comparison between current desktop KCM and my proposal<img data-attachment-id="23" data-permalink="https://mkacej.wordpress.com/2018/04/02/proposed-design/kcm/" data-orig-file="https://mkacej.files.wordpress.com/2018/04/kcm.png" data-orig-size="922,824" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="kcm" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/04/kcm.png?w=300" data-large-file="https://mkacej.files.wordpress.com/2018/04/kcm.png?w=840" class=" size-full wp-image-23 alignnone" src="https://mkacej.files.wordpress.com/2018/04/kcm.png?w=840" alt="kcm" srcset="https://mkacej.files.wordpress.com/2018/04/kcm.png?w=840 840w, https://mkacej.files.wordpress.com/2018/04/kcm.png?w=150 150w, https://mkacej.files.wordpress.com/2018/04/kcm.png?w=300 300w, https://mkacej.files.wordpress.com/2018/04/kcm.png?w=768 768w, https://mkacej.files.wordpress.com/2018/04/kcm.png 922w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px"   /></p>
<p><img data-attachment-id="17" data-permalink="https://mkacej.wordpress.com/2018/04/02/proposed-design/details-settings/" data-orig-file="https://mkacej.files.wordpress.com/2018/04/details-settings.png" data-orig-size="362,736" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="details-settings" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/04/details-settings.png?w=148" data-large-file="https://mkacej.files.wordpress.com/2018/04/details-settings.png?w=362" class=" size-full wp-image-17 aligncenter" src="https://mkacej.files.wordpress.com/2018/04/details-settings.png?w=840" alt="details-settings" srcset="https://mkacej.files.wordpress.com/2018/04/details-settings.png 362w, https://mkacej.files.wordpress.com/2018/04/details-settings.png?w=74 74w, https://mkacej.files.wordpress.com/2018/04/details-settings.png?w=148 148w" sizes="(max-width: 362px) 85vw, 362px"   /></p>
<p>I am mostly stripping functionality which does not have meaning in phones &#8211; phone has just one user, one network device or it will be possible to set just one IP address manually (on desktop you can have set to choose from multiple addresses ).</p>
