---
author: Marco Martin
created_at: 2019-11-29 14:39:12 UTC
date: "2019-11-29T00:00:00Z"
title: Plasma Edit Mode refinements
---
<p>Editing, moving and customizing widgets in Plasma Desktop improved a lot in 5.17, and then in 5.18 it will get a brand new <a href="https://pointieststick.com/2019/10/26/this-week-in-kde-goodbye-noble-cashew/">edit mode</a>, to be really efficient editing your desktop layout (and have less visual noise by default).</p>



<p>This week another new feature landed in the edit mode for 5.18: it&#8217;s possible to set some plasmoids without background and a nice drop shadow, for an extra clean and modern look for your desktop.</p>



<p>In addition, a plasmoid can specify this backgroundless shadowed mode as its new default, like the digital clock now does (when is on the deskop)</p>



<iframe width="560" height="315" src="https://www.youtube.com/embed/tk6EQfhAyn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<p>Applet developers will have to opt in this feature: doesn&#8217;t always make sense everywhere and some may still be buggy. Some default plasmoids, especially in kdeplasma-addons have been set to support it.</p>



<p>If you are writing a plasmoid and want to support this background removal, in the main QML item of your plasmoid you can do:</p>



<p></p>



<pre class="wp-block-code"><code>Item {
    id: root   
    Plasmoid.backgroundHints: PlasmaCore.Types.DefaultBackground
                             | PlasmaCore.Types.ConfigurableBackground
    ...
}</code></pre>



<p>Or, if you want to default toi the new background-less, automatic shadow:</p>



<pre class="wp-block-preformatted">Item {
    id: root   
    Plasmoid.backgroundHints: PlasmaCore.Types.ShadowBackground
                             | PlasmaCore.Types.ConfigurableBackground
    ...
}</pre>



<p>Of course the NoBackground option is still there if a shadow isn&#8217;t what the graphic style of the plasmoid needs.</p>



<p>A notice that needs to be kept in mind, is that for color inversion to work automatically, one should never do:</p>



<pre class="wp-block-preformatted">    color: theme.textColor</pre>



<p>But rather</p>



<pre class="wp-block-preformatted">    color: PlasmaCore.ColorScope.textColor</pre>



<p>Which is a good way to get ready for Qt6 anyways, as context properties are going to be removed in the next Qt major release.</p>